.header a,
a:hover {
  color: #f0ad4e;
  text-decoration: none;
}
.navbar{
    background-color:darkslateblue;
}
.header h1 {
  letter-spacing: 15px;
  font-size: 300%;
}

.header p {
  color: white !important;
  font-size: 90%;
  letter-spacing: 3px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pillse > li.active > a:hover {
  color: #fff;
  background-color: #aeb002;
}

.nav-pills > li > a {
  color: #fff;
}

.nav-pills > li > a:hover {
  background-color: #aeb002;
}

.navbar-inverse {
  padding: 1%;
}

@media (max-width: 767px) {
  .nav-pills > li {
    float: none;
  }

  .nav-pills {
    text-align: center;
  }

  .header h1{
    letter-spacing: 5px;
    font-size: 280%;
  }

  .header{
    text-align: center;
  }
}
